<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap"
      rel="stylesheet"><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  <link rel="stylesheet" href="css/style.min.css"/>
</head>

<body>
<div class="wrapper">
<!--  Header section-->
  <header class="header">
    <!-- Header top-->
    <div class="header__top">
      <div class="container">
        <div class="header__top-inner">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Магазини</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Акції</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Доставка та оплата</a>
              </li>
            </ul>
          </nav>
          <a class="logo" href="#">
            <img class="logo__img" src="img/icons/logo.svg" alt="logo"/>
          </a>
          <div class="header__info">
            <address class="header__address">Київ, вул.Мирна, 27</address>
            <ul class="user-list">
              <li class="user-list__item">
                <a href="#" class="user-list__link">
                  <img src="img/icons/favorites-icon.svg"
                       alt="favorites-icon">
                </a></li>
              <li class="user-list__item">
                <a href="#"
                   class="user-list__link"><img
                    src="img/icons/user-icon.svg"
                    alt="favorites-icon"></a>
                <img src="img/" alt=""></li>
              <li class="user-list__item">
                <a href="#"
                   class="user-list__link basket"><img
                    src="img/icons/basket-icon.svg"
                    alt="favorites-icon">
                  <span class="basket__num">1</span>
                </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Header top end -->

    <!-- Header button -->
    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-inner">
          <ul class="menu-categories__list">
            <li class="menu-categories__item">
              <a class="menu-categories__link" href="#">
                Квадроцикли
              </a>
            </li>
            <li class="menu-categories__item">
              <a class="menu-categories__link" href="#">
                Катери
              </a>
            </li>
            <li class="menu-categories__item">
              <a class="menu-categories__link" href="#">
                Гідроциклы
              </a>
            </li>
            <li class="menu-categories__item">
              <a class="menu-categories__link" href="#">
                Човни
              </a>
            </li>
            <li class="menu-categories__item">
              <a class="menu-categories__link" href="#">
                Всюдиходи
              </a>
            </li>
            <li class="menu-categories__item">
              <a class="menu-categories__link" href="#">
                Снігоходи
              </a>
            </li>
            <li class="menu-categories__item">
              <a class="menu-categories__link" href="#">
                Двигуни
              </a>
            </li>
            <li class="menu-categories__item">
              <a class="menu-categories__link" href="#">
                Запчастини
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Header button end -->
  </header>
<!--  Header section end-->